<div class="progress">
    <div class="progress-bar" role="progressbar" style="width:@Value%;" aria-valuenow="@Value" aria-valuemin="0" aria-valuemax="100">
        @Value%
    </div>
</div>

@code {
    [Parameter] public int Value { get; set; }
}