<div>
    <WeatherDayInfo WeatherInfoHandler="this"></WeatherDayInfo>
</div>
@code {
    [Parameter] public Weather WeatherHandler { get; set; }
    public WeatherInfoForDay? CurrentWeatherDay;
    public List<WeatherInfoForDay> ForecastDaysInfo { get; set; }
    bool isForecast = false;
    public bool LoadedData = false;
    public event Action OnNewDay;

    protected override void OnInitialized()
    {
        ForecastDaysInfo = new List<WeatherInfoForDay>();
        WeatherHandler.OnWeatherLoaded += LoadWeatherInfo;
        WeatherHandler.OnForecastLoaded += LoadForecastInfo;
    }

    void LoadWeatherInfoForDay()
    {
        LoadedData = true;
        OnNewDay?.Invoke();
        StateHasChanged();
    }

    private void LoadWeatherInfo(WeatherInfoModel.Root data)
    {
        isForecast = false;
        ForecastDaysInfo.Clear();
        CurrentWeatherDay = new WeatherInfoForDay(data.weather[0].description,
            (float)data.main.temp, (float)data.wind.speed, data.main.humidity, 0);
        ForecastDaysInfo.Add(CurrentWeatherDay);
        LoadWeatherInfoForDay();
    }

    private void LoadForecastInfo(List<WeatherForecastModel.WeatherForecast> data)
    {
        ForecastDaysInfo.Clear();
        for(int i = 0;i<data.Count;i++)
        {
            WeatherInfoForDay day = new WeatherInfoForDay(data[i].Weather[0].Description, data[i].Main.Temp,
                data[i].Wind.Speed, data[i].Main.Humidity,i+1);
            ForecastDaysInfo.Add(day);
        }
        isForecast = true;
        LoadWeatherInfoForDay();
    }
}
