<div>
    @if (@isForecast)
        @foreach (var day in ForecastDaysInfo)
        {
            <li>
                @day
            </li>
        }
    @CurrentWeatherOnly
</div>
@code {
    [Parameter] public Weather WeatherHandler { get; set; }
    private WeatherDayInfo CurrentWeatherOnly;
    private List<WeatherDayInfo> ForecastDaysInfo;
    bool isForecast = false;
    protected override void OnInitialized()
    {
        WeatherHandler.OnWeatherLoaded += LoadWeatherInfo;
        WeatherHandler.OnForecastLoaded += LoadForecastInfo;
    }
    public void LoadWeatherInfo(WeatherInfoModel.Root data)
    {
        isForecast = false;
        CurrentWeatherOnly.LoadInfo(data.weather[0].description,(float)data.main.temp,(float)data.wind.speed,data.main.humidity);
    }
    public void LoadForecastInfo(List<WeatherForecastModel.WeatherForecast> data)
    {
        foreach (WeatherForecastModel.WeatherForecast DataForDay in data)
        {
            WeatherDayInfo day = new WeatherDayInfo();
            day.WeatherInfoForDay = DataForDay;
            day.LoadInfo(DataForDay.Weather[0].Description,DataForDay.Main.Temp,DataForDay.Wind.Speed,DataForDay.Main.Humidity);
            ForecastDaysInfo.Add(day);
        }
        isForecast = true;
        StateHasChanged();
    }

}